<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Transtic is HTML template created for logistics, Transtic, transportation companies and small freight business"
    />
    <meta
      name="Keywords"
      content="	cargo, corporate, delivery, freight, logistic storage, logistics, moving company, packaging, shipment, shipping, transport, transportation, Transtic, trucks"
    />
    <meta name="author" content="AnditThemes" />
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css" />
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="/public/assets/css/animate.min.css" />
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/public/assets/css/owl.carousel.min.css" />
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/public/assets/css/fontawesome.all.min.css" />
    <!-- Menu CSS -->
    <link rel="stylesheet" href="/public/assets/css/meanmenu.min.css" />
    <!-- Color CSS -->
    <link rel="stylesheet" href="/public/assets/css/color.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="/public/assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/public/assets/css/responsive.css" />
    <title>AuroraTI: {{ title }}</title>
    <link rel="icon" type="image/png" href="/public/assets/img/favicon.ico" />
  </head>

  <body>
    <!-- preloder-->
    <div id="preloader">
      <div id="status">
        <div class="loadertwo"></div>
      </div>
    </div>
    <header class="main-header header-style-one">
      <!-- Header Top -->
      <div class="header-top">
        <div class="top-left">
          <ul class="list-style-one">
            <li>Tu negocio, más eficiente desde el día uno.</li>
          </ul>
        </div>

        <div class="top-right">
          <div class="top_bar_left_side">
            <ul class="list-style-one">
              <li><i class="fas fa-envelope-open"></i> contacto@aurorati.mx</li>
              <li>
                <i class="fa fa-phone-volume"></i>
                <a href="tel:+527531338510">+52 753 133 8510</a>
              </li>
            </ul>
            <ul class="social-icon-one">
              <li>
                <a href="https://facebook.com/aurorati" target="_blank"
                  ><span class="fab fa-facebook-square"></span
                ></a>
              </li>
              <li>
                <a href="https://linkedin.com" target="_blank"
                  ><span class="fab fa-linkedin"></span
                ></a>
              </li>
              <li>
                <a href="https://github.com" target="_blank"
                  ><span class="fab fa-github"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Header Top -->

      <!-- Header Lower -->
      <div class="header-lower">
        <div class="main-box">
          <!-- Logo -->
          <div class="logo-box">
            <div class="logo">
              <a href="/">
                <img
                  src="/public/assets/img/auroratilogo_resized.png"
                  alt="AuroraTI"
                  title="AuroraTI"
                />
              </a>
            </div>
          </div>

          <!-- Nav -->
          <div class="nav-outer">
            <nav class="nav main-menu">
              <ul class="navigation">
                <li class="current"><a href="/">Inicio</a></li>

                <li class="dropdown">
                  <a href="#">Servicios</a>
                  <ul>
                    <li><a href="automatizacion.html">Desarrollo a la medida</a></li>
                    <li>
                      <a href="desarrollo-medida.html">Automatización empresarial</a>
                    </li>
                    <li>
                      <a href="integracion-canales.html"
                        >Integración de sistemas</a
                      >
                    </li>
                    
                  </ul>
                </li>

                <li><a href="casos-exito.html">Casos de Éxito</a></li>

                <li class="dropdown">
                  <a href="#">Recursos</a>
                  <ul>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="guias.html">Guías</a></li>
                    <li><a href="framework.html">Método AuroraTI</a></li>
                  </ul>
                </li>

                <li><a href="sobre-aurorati.html">Sobre AuroraTI</a></li>

                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </nav>

            <!-- Botón y Mobile nav -->
            <div
              class="outer-box"
              style="display: flex; align-items: center; gap: 20px"
            >
              <!-- Botón visible y estilizado -->
              <a
                href="agenda.html"
                class="btn btn-theme"
                style="
                  background-color: #0067b8;
                  color: #fff;
                  border-radius: 5px;
                  font-weight: 500;
                "
              >
                <span class="btn-title">Agendar una cita</span>
              </a>

              <!-- Mobile Nav toggler -->
              <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Lower -->

      <!-- Mobile Menu -->
      <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <nav class="menu-box">
          <div class="upper-box">
            <div class="nav-logo">
              <a href="index.html"
                ><img
                  src="/public/assets/img/logo-aurorati.png"
                  alt="AuroraTI"
                  title="AuroraTI"
              /></a>
            </div>
            <div class="close-btn"><i class="icon fa fa-times"></i></div>
          </div>

          <ul class="navigation clearfix">
            <!-- Menu generado por JS -->
          </ul>
          <ul class="contact-list-one">
            <li>
              <div class="contact-info-box">
                <i class="icon lnr-icon-phone-handset"></i>
                <span class="title">Llámanos</span>
                <a href="tel:+527531338510">+52 753 133 8510</a>
              </div>
            </li>
            <li>
              <div class="contact-info-box">
                <span class="icon lnr-icon-envelope1"></span>
                <span class="title">Escríbenos</span>
                <a href="mailto:contacto@aurorati.mx">contacto@aurorati.mx</a>
              </div>
            </li>
          </ul>

          <ul class="social-links">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- End Mobile Menu -->
    </header>

    {% block content %}{% endblock %}

    <!-- Footer Area Start -->
    <footer id="footer_area">

      <div class="container">
        <div class="row">
          <!-- Columna 1: AuroraTI -->
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="footer_wedget">
              <img src="/public/assets/img/AuroraTI_Logo_158x78_Transparent.png" alt="AuroraTI" />
              <p>
                Soluciones tecnológicas a la medida, integradas al ecosistema
                Microsoft.
              </p>
              <div class="footer_social_icon">
                <a href="https://facebook.com/aurorati"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https://linkedin.com"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a href="https://instagram.com"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>

          <!-- Columna 2: AuroraTI -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="footer_wedget footer_navigation">
              <h4>AuroraTI</h4>
              <ul>
                <li><a href="nosotros.html">Quiénes somos</a></li>
                <li><a href="casos-exito.html">Casos de Éxito</a></li>
                <li><a href="contacto.html">Contáctanos</a></li>
                <li><a href="privacidad.html">Aviso de Privacidad</a></li>
              </ul>
            </div>
          </div>

          <!-- Columna 3: Soluciones -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="footer_wedget footer_navigation">
              <h4>Soluciones</h4>
              <ul>
                <li><a href="automatizacion.html">Automatización</a></li>
                <li>
                  <a href="desarrollo-medida.html">Software a la Medida</a>
                </li>
                <li>
                  <a href="integracion-canales.html">Integración de Canales</a>
                </li>
                <li><a href="acceso-seguro.html">Acceso Seguro</a></li>
              </ul>
            </div>
          </div>

          <!-- Columna 4: Recursos -->
          <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="footer_wedget footer_navigation">
              <h4>Recursos</h4>
              <ul>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="guias.html">Guías</a></li>
                <li><a href="framework.html">Método AuroraTI</a></li>
                <li><a href="descargas.html">Descargas</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Footer Copyright -->
    <div id="copy_right">

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div
              class="copy-right-area"
              style="text-align: center; padding: 15px 0"
            >
              <p>© 2025 <span>AuroraTI</span>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Area End -->

    <!-- jQuery Min JS -->
    <script src="/public/assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="/public/assets/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <!-- Menu JS -->
    <script src="/public/assets/js/meanmenu.min.js"></script>
    <!-- Counter.js -->
    <script src="/public/assets/js/jquery.counterup.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="/public/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS -->
    <script src="/public/assets/js/main.js"></script>

    <!-- preloder-->
  </body>
</html>
